{% extends "layout.html" %}

{% block title %}
    {% if mode == "practice" %} 
        Practice
    {% elif mode == "test" %}
        Test
    {% endif %}
{% endblock %}

{% block content %}
<!-- SIDEBAR -->
<div id="sidebar" class="sidebar collapsed">

    <h3>Questions</h3>
    <div class="question-list">
        {% for i in range(session.get("total_questions", 10)) %}
            <a href="{{ url_for('question') }}?go={{ i }}">
                <button class="q-btn {% if i == index %}active{% endif %}">
                    Question {{ i + 1 }}
                </button>
            </a>
        {% endfor %}
    </div>
</div>

<button class="toggle-btn" onclick="toggleSidebar()">☰</button>


<div id="mainContainer" class="test-container full" data-index="{{ index }}" data-fetched="{{ questions|length }}">

    <div id="loading-overlay" class="loading-overlay">
        <div class="spinner"></div>
        <div class="loading-text">Generating next question...</div>
    </div>

    <div class="question-box">
        <div class="question-number">
            Question {{ index + 1 }}
        </div>

        <div class="question-text">
            <p>{{ q.question_text }}</p>
            {% if q.code_snippet %}
                <pre class="code-snippet"><code>{{ q.code_snippet }}</code></pre>
            {% endif %}
        </div>

        <form method="POST" action="/test/answer" onsubmit="handleTestNavigation(event)">
    
            <div class="answers">
                {% for opt in q.options %}
                    {% set letter = ['A','B','C','D'][loop.index0] %}
                    <label class="answer-row">
                        
                        <input 
                            type="radio" 
                            name="answer" 
                            value="{{ letter }}"
                            {% if selected == letter %}checked{% endif %}
                            {% if show_feedback %}disabled{% endif %}
                        >
                        
                        <span class="custom-radio">{{ letter }}</span>
                        <span class="answer-text">{{ opt }}</span>
        
                        {% if show_feedback %}
                            {% if letter == q.correct_answer %}
                                <span style="color: #30ca68;">(Correct Answer)</span>
                            {% elif letter == selected %}
                                <span style="color: #e95151;">(Your Answer)</span>
                            {% endif %}
                        {% endif %}
        
                    </label>
                {% endfor %}
            </div>
        
            {% if show_feedback %}
                <div class="feedback-box">
                    {% if is_correct %}
                        <p style="color: #4ade80;">Correct!</p>
                    {% else %}
                        <p style="color: #f87171;">Incorrect.</p>
                    {% endif %}
                </div>
            {% endif %}
        
            <div class="nav-buttons">
        
            {% if mode == "practice" %}
                <button type="submit" name="direction" value="back" class="dir-btn">Back</button>
                {% if not show_feedback %}
                <button type="submit" class="dir-btn">Submit</button>
                {% endif %}
                <button type="submit" name="direction" value="next" class="dir-btn">Next</button>
            {% else %}
                <button type="submit" name="direction" value="back" class="dir-btn">Back</button>
                <button type="submit" name="direction" value="next" class="dir-btn">Next</button>
            {% endif %}
        
            </div>
        </form>
    </div>
</div>

{% endblock %}

</body>
</html>